<h3>chuck-renderer debug</h3>
<form action="/render/" method="POST" enctype="multipart/form-data">
<table>
  <tbody>
  <tr>
    <td>.ck file:</td>
    <td><input type="file" name="file"></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value="Render"></td>
  </tr>
  </tbody>
</table>
</form>
