<h3>chuck-renderer</h3>
<span>Check out your creation!</span><br><br>

<audio controls preload="none" style="width:360px;">
	<source src="/resource/download/<%= @key %>" type="audio/mp4" />
</audio>

<p><a href="/debug/">Render something else</a></p>
