table.fullscreen {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: white;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: white;
}